@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Source Sans Pro", sans-serif;
}

.big-input {
  @apply block w-full border rounded-md px-5 py-3 text-base text-gray-900 placeholder-gray-500 shadow-sm focus:outline-none focus:border-transparent focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600;
}

.btn-secondary {
  @apply block w-full sm:w-auto rounded-md border border-transparent px-5 py-3 bg-secondary text-base font-medium text-white shadow hover:bg-secondary/90 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-secondary sm:px-10;
}

.input-text {
  @apply py-3 px-4 block w-full border border-gray-300 shadow-sm  focus:ring-secondary focus:border-secondary rounded-md;
}
.input-label {
  @apply block font-medium text-gray-900;
}

#footer h2,
h3 {
  @apply text-white;
}

#footer li {
  @apply text-gray-100;
}

header h2 {
  @apply text-4xl font-bold sm:text-5xl text-gray-900;
}

header p {
  @apply text-gray-700 text-xl mt-3 sm:mt-4;
}

.menu-item:hover .menu-item-sub {
  display: flex;
}
.menu-item:hover .menu-item-down {
  display: none;
}
.menu-item:hover .menu-item-up {
  display: inline-block;
}

.menu-item-sub-item:hover .menu-item-sub-item-sub {
  display: block;
}
