@tailwind base;
@tailwind components;
@tailwind utilities;


/*==== FIN Testing des polices ===*/
#home-police-1 {
  font-family: "Source Sans Pro", sans-serif;
}

#home-police-2 {
  font-family: "Open Sans", sans-serif;
}

#home-police-3 {
  font-family: "Fredoka", sans-serif;
}

#home-police-4 h2 {
  font-family: "Source Sans Pro", sans-serif;
}
#home-police-4 h1 {
  font-family: "Source Sans Pro", sans-serif;
}
#home-police-4 {
  font-family: "Open Sans", sans-serif;
}
#home-police-4 header p {
  font-family: "Open Sans", sans-serif;
  @apply text-xl;
}

#home-police-5 {
  font-family: "Roboto", sans-serif;
}
#home-police-6 {
  font-family: "Raleway", sans-serif;
}
#home-police-7 {
  font-family: "Rubik", sans-serif;
}
/*==== FIN Testing des polices ===*/

.big-input {
  @apply block w-full border rounded-md px-5 py-3 text-base text-gray-900 placeholder-gray-500 shadow-sm focus:outline-none focus:border-transparent focus:ring-2 focus:ring-offset-2 focus:ring-offset-indigo-600;
}

.btn-secondary {
  @apply block w-full sm:w-auto rounded-md border border-transparent px-5 py-3 bg-secondary text-base font-medium text-white shadow hover:bg-secondary/90 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-secondary sm:px-10;
}

.input-text {
  @apply py-3 px-4 block w-full border border-gray-300 shadow-sm  focus:ring-secondary focus:border-secondary rounded-md;
}
.input-label {
  @apply block font-medium text-gray-900;
}

#footer h2 {
  @apply text-white;
}

#footer h3 {
  @apply text-white;
}

#footer li {
  @apply text-gray-100;
}

header h2 {
  @apply text-4xl font-bold sm:text-5xl text-gray-900;
}

header p {
  @apply text-gray-700 text-xl mt-3 sm:mt-4;
}

.menu-item:hover .menu-item-sub {
  display: flex;
}
.menu-item:hover .menu-item-down {
  display: none;
}
.menu-item:hover .menu-item-up {
  display: inline-block;
}

.menu-item-sub-item:hover .menu-item-sub-item-sub {
  display: block;
}

.input-checkbox {
  @apply w-5 h-5 text-secondary bg-secondary focus:text-secondary p-2 outline-secondary;
}

.chapter-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.animated-icon {
  display: none;
}

.with-animated-icon:hover .animated-icon {
  display: inline-block;
}

details[open] summary .caret-down {
  display: none;
}
details[open] summary .caret-up {
  display: block;
}
details summary .caret-up {
  display: none;
}